[variables]
UPLOAD_MAX_FILESIZE = '100M'
POST_MAX_SIZE = '100M'
NIXPACKS_NGINX_CONF_PATH = './nginx.template.conf'

[phases.setup]
cmds = [
  "echo 'upload_max_filesize=100M' >> /nix/store/a0qcy2m5mqwrlkr3xkza0n2wdmbq8myq-php-with-extensions-8.2.27/lib/php.ini",
  "echo 'post_max_size=100M' >> /nix/store/a0qcy2m5mqwrlkr3xkza0n2wdmbq8myq-php-with-extensions-8.2.27/lib/php.ini",
  "echo 'memory_limit=512M' >> /nix/store/a0qcy2m5mqwrlkr3xkza0n2wdmbq8myq-php-with-extensions-8.2.27/lib/php.ini"
]
