@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../app/Livewire/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../../../resources/views/livewire/**/*';
@source '../../../../vendor/guava/filament-modal-relation-managers/resources/**/*';

/* Añade este bloque para el escalado al 90% */
html {
    /* Si el estándar es 16px:
       90% = 14.4px
       80% = 12.8px
    */
    font-size: 14.4px !important;
}

/* Reajuste para que los inputs y textos no pierdan legibilidad */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}